* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(230, 230, 230);
    font-family: Hack, monospace;
}

h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    color: rgb(49, 110, 202);
    text-align: center;
}

p {
    margin: 16px;
    font-size: 96px;
    color: rgb(23, 23, 24);
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
}

div {
    margin: 16px;
    font-size: 96px;
    color: rgb(23, 23, 24);
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 26px;
}

button {
    min-width: 300px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 16px 32px;
    font-size: 2rem;
    cursor: pointer;
    margin: 100px;
}

p::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #2a078a;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

p:hover::before {
    width: 100%;
}

nav {
    margin: 15px;
    background: #f9f9f9;
    padding: 16px;
}

nav .menuItems {
    list-style: none;
    display: flex;
}

nav .menuItems li {
    margin: 20px 50px 20px 50px;
}

nav .menuItems li a {
    text-decoration: none;
    color: rgb(23, 23, 24);
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #2a078a;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

nav .menuItems li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

a:link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myImg {
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
}

.squad_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}